<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taming Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<h1 th:text="${pageTitle}"></h1>
<div>
    <ul>
        <li th:each="scientist : ${scientists}">
            <span th:text="${scientist}"></span>
        </li>
        <li>
            <a th:href="@{https://www.google.com/search?q=thymeleaf}">link</a>
        </li>
        <li>
            <a th:href="@{https://www.google.com/search(q=${searchTerm})}">John Thompson</a>
        </li>
    </ul>
</div>
</body>
</html>